body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-screen,
#test-screen,
#result-screen {
    width: 90%;
    max-width: 600px;
}

.hidden {
    display: none;
}

#test-screen,
#result-screen {
    position: relative;
}

#test-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#timer {
    margin-left: 20px;
}

#question-container {
    margin: 20px 0;
    font-size: 24px;
}

#answer-buttons {
    margin: 20px 0;
}

#answer-buttons button {
    font-size: 24px;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

#next-section,
#finish-test,
#retry-test {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#result-table th,
#result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#result-table th {
    background-color: #f2f2f2;
}

#result-table td {
    background-color: #fff;
}
