body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.section {
    text-align: center;
}

input[type="text"] {
    width: 300px; /* Lebar input yang lebih pendek */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.start-button, .retry-button {
    background-color: #2196F3; /* Biru */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.start-button:hover, .retry-button:hover {
    background-color: #1976D2; /* Biru lebih gelap */
}

.answer-button {
    background-color: #ffffff;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.answer-button:hover {
    background-color: #f1f1f1;
}

.next-button {
    background-color: #FFEB3B; /* Kuning */
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Jarak di atas tombol "Selesaikan sekarang" */
}

.next-button:hover {
    background-color: #FBC02D; /* Kuning lebih gelap */
}

.finish-button {
    background-color: #F44336; /* Merah */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.finish-button:hover {
    background-color: #C62828; /* Merah lebih gelap */
}

.warning {
    color: red;
    font-size: 12px;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#resultsTable th {
    background-color: #f2f2f2;
    text-align: left;
}
