body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hidden {
    display: none;
}

#start-screen, #result-screen {
    text-align: center;
}

#test-screen {
    position: relative;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#question-container {
    margin-top: 100px; /* To center the content vertically */
}

#question {
    font-size: 1.5em;
}

#answers {
    margin-top: 20px;
}

.answer {
    font-size: 2em;
    width: 100px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

#next-section, #skip-test {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

#skip-test {
    margin-top: 10px;
}

#results-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

#results-table th, #results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#results-table th {
    background-color: #f2f2f2;
}

#retry-test {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}
